@import "../base/variables.scss";
@import "../base/commons.scss";
@import "../base/fonts.scss";
@import "../base/base.scss";

.col {
    
    &__container {
        display: flex;
        padding-bottom: 100px;
        gap: 40px;

        @media (max-width: 1024px) {
            display: grid;
        }
    }

    &__left {
        flex-basis: 40%;
        border-radius: 0 0 105px 0;
        background-color: $bg-color;
    }

    &__right {
        flex-basis: 60%;
    }

    //Left
    .education {
        margin: 0 16px;
        padding: 100px 0;

        @media (max-width: 1024px) {
            padding: 40px 0;
        }

        &__title {
            max-width: 300px;
            font-family: 'Bai';
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            color: $black-color;
    
            &::after {
                content: "";
                display: block;
                margin: 0 auto;
                border: 1px solid $bg-color;
            }
        }
    
        &__subtitle {
            max-width: 750px;
            font-family: "Inter";
            font-weight: 500;
            font-size: 28px;
            line-height: 40px;
            color: $black-color;
    
            &::before {
                content: "\2022";
                padding-right: 16px;
            }
        }

        .box {
            width: 100%;
            padding: 0;
            background-color: red;

            &__img {
                width: 300px;
                height: 300px;
            }
        }

        // &__box {
        //     display: flex;
        //     padding: 0;
        //     gap: 30px;
        //     border-radius: 12px;
        //     background: $white-color;
        //     filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
        //     background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);

        //     @media (max-width: 1024px) {
        //         display: grid;
        //     }
        // }
        
        // &__item {
        //     max-width: 700px;
        //     padding: 24px 24px;
        // }

        // &__text,
        // &__denotation {
        //     font-family: "Inter";
        //     font-weight: 500;
        //     font-size: 25px;
        //     line-height: 38px;
        //     color: $black-color;
        // }

        // &__img {
        //     max-width: 480px;
        // }
    }

    .experience {
        margin: 0 16px;
        padding-bottom: 100px;

        @media (max-width: 1024px) {
            padding-bottom: 40px;
        }

        &__title {
            max-width: 364px;
            font-family: 'Bai';
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            color: $black-color;

            &::after {
                content: "";
                display: block;
                margin: 0 auto;
                border: 1px solid $bg-color;
            }
        }

        &__subtitle {
            position: relative;
            font-family: "Inter";
            font-weight: 500;
            font-size: 28px;
            line-height: 40px;
            color: $black-color;

            &::before {
                content: "\2022";
                padding-right: 16px;
            }
        }

        &__text {
            font-family: "Inter";
            font-weight: 500;
            font-size: 20px;
            line-height: 22px;
            color: $black-color;
        }

        &__denotation {
            max-width: 772px;
            font-family: "Inter";
            font-weight: 500;
            font-size: 28px;
            line-height: 40px;
            color: $black-color;
        }
    }

    //Right
    .hero {
        margin: 0 16px;
        padding-bottom: 40px;
        background-color: $bg-color;

        &__presentation {
            padding-top: 100px;
            font-family: 'Bai';
            font-weight: 700;
            color: $white-color;
        }

        &__title {
            font-size: 56px;
            line-height: 64px;

            @media (max-width: 1024px) {
                padding-bottom: 16px;
                font-size: 48px;
                line-height: 58px;
            }
        }

        &__subtitle{
            font-size: 24px;
            line-height: 32px;
        }

        &__photo {
            position: relative;
            display: grid;
            padding-bottom: 40px;
        }

        &__img {
            position: absolute;
            width: 380px;
            height: 500px;
            z-index: 2;

            @media (max-width: 860px) {
                width: 300px;
                height: 400px;
            }

            &_1 {
                width: 410px;
                height: 520px;
                position: relative;
                top: -7%;
                left: 2%;
                z-index: 1;

                @media (max-width: 860px) {
                    width: 320px;
                    height: 420px;
                }
            }
        }

        &__contact {
            display: grid;
            gap: 30px;
            font-family: 'Bai';
            font-weight: 700;
            font-size: 16px;
            line-height: 32px;
            margin-bottom: 16px;
            color: $white-color;

            &__tel,
            &__email,
            &__git {
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }
    }

    .skills {
        margin: 0 16px;
        padding-top: 5%;
    
        &__title {
            max-width: 175px;
            font-family: 'Bai';
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            color: $white-color;
    
            &::after {
                content: "";
                display: block;
                margin: 0 auto;
                border: 1px solid $white-color;
            }
        }
    
        &__text {
            font-family: "Inter";
            font-weight: 500;
            font-size: 28px;
            line-height: 40px;
            color: $white-color;
    
            &::before {
                content: "\2022";
                padding-right: 16px;
    
                &::after {
                    content: "";
                    display: block;
                    margin: 0 auto;
                    border: 1px solid $bg-color;
                }
            }
        }
    }
}