@import "../base/variables.scss";
@import "../base/commons.scss";
@import "../base/fonts.scss";
@import "../base/base.scss";

.education {
    padding: 100px 0;

    @media (max-width: 1024px) {
        padding: 40px 0;
    }

    &__title {
        max-width: 714px;
        padding-bottom: 24px;
        font-family: 'Bai';
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        color: $black-color;

        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            border: 1px solid $bg-color;
        }
    }

    &__subtitle {
        max-width: 750px;
        position: relative;
        font-family: "Inter";
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        color: $black-color;

        &::before {
            content: "\2022";
            padding-right: 16px;
        }
    }

    .educations {
        display: flex;
        padding: 0;
        gap: 40px;

        @media (max-width: 1024px) {
            display: grid;
            gap: 24px;
        }

        &__item {
            width: 955px;
            padding: 20px;
            border-radius: 12px;
            background: $white-color;
            filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
            backdrop-filter: blur(2px);
        }
        
        &__text {
            padding-left: 10px;
            font-family: "Inter";
            font-weight: 500;
            font-size: 28px;
            line-height: 40px;
            color: $black-color;
        }
    }
}