@import "../base/variables.scss";
@import "../base/commons.scss";
@import "../base/fonts.scss";
@import "../base/base.scss";

.experience {
    padding-bottom: 100px;

    &__title {
        max-width: 280px;
        padding-bottom: 24px;
        font-family: 'Bai';
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        color: $black-color;

        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            border: 1px solid $bg-color;
        }
    }

    &__subtitle {
        position: relative;
        font-family: "Inter";
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        color: $black-color;

        &::before {
            content: "\2022";
            padding-right: 16px;
        }
    }

    &__text {
        font-family: "Inter";
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        color: $black-color;
    }
}