@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Bai";
  src: url("../fonts/BaiJamjuree-Bold.eot") format("embedded-opentype"), url("../fonts/BaiJamjuree-Bold.svg") format("svg"), url("../fonts/BaiJamjuree-Bold.woff") format("woff"), url("../fonts/BaiJamjuree-Bold.woff2") format("woff2");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .container {
    display: block;
  }
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Bai";
  src: url("../fonts/BaiJamjuree-Bold.eot") format("embedded-opentype"), url("../fonts/BaiJamjuree-Bold.svg") format("svg"), url("../fonts/BaiJamjuree-Bold.woff") format("woff"), url("../fonts/BaiJamjuree-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Bai";
  src: url("../fonts/BaiJamjuree-Bold.eot") format("embedded-opentype"), url("../fonts/BaiJamjuree-Bold.svg") format("svg"), url("../fonts/BaiJamjuree-Bold.woff") format("woff"), url("../fonts/BaiJamjuree-Bold.woff2") format("woff2");
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hero {
  animation: backgroundBlockAnima 0.6s linear 0.1s forwards;
  background-color: #E94D35;
}
.hero__container {
  display: flex;
  gap: 100px;
}
@media (max-width: 1024px) {
  .hero__container {
    display: block;
    padding: 60px 16px;
  }
}
@keyframes backgroundBlockAnima {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.hero__presentation {
  padding-top: 115px;
  font-family: "Bai";
  font-weight: 700;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .hero__presentation {
    display: none;
  }
}
.hero__title {
  font-size: 56px;
  line-height: 64px;
}
.hero__subtitle {
  font-size: 24px;
  line-height: 32px;
}
.hero__photo {
  text-align: center;
}
.hero__img {
  width: 525px;
}
@media (max-width: 1024px) {
  .hero__img {
    display: none;
  }
}
.hero .contact {
  display: grid;
  padding-top: 35%;
  gap: 30px;
  font-family: "Bai";
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #FFFFFF;
}
.hero .contact__tel, .hero .contact__email {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1024px) {
  .hero .contact {
    display: none;
  }
}

.mobile-menu {
  display: none;
}
@media (max-width: 1024px) {
  .mobile-menu {
    display: inline;
  }
}
.mobile-menu__presentation {
  font-family: "Bai";
  font-weight: 700;
  color: #FFFFFF;
}
.mobile-menu__title {
  font-size: 56px;
  line-height: 64px;
}
.mobile-menu__subtitle {
  font-size: 24px;
  line-height: 32px;
}
.mobile-menu__img {
  max-width: 295px;
  max-height: 270px;
  border-radius: 50%;
}
.mobile-menu .contact-menu {
  display: grid;
  gap: 20px;
  font-family: "Bai";
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #FFFFFF;
}
.mobile-menu .contact-menu__tel, .mobile-menu .contact-menu__email {
  display: flex;
  align-items: center;
  gap: 12px;
}

/*# sourceMappingURL=hero.css.map */
