@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.project {
  padding-bottom: 100px;
}
.project__container {
  margin: 0 16px;
}
.project__title {
  max-width: 287px;
  padding: 24px 0;
  font-family: "Bai";
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #000000;
}
.project__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  border: 1px solid #E94D35;
}
.project .slider {
  width: 100%;
  padding: 0;
}
.project .slider__img {
  max-width: 300px;
  max-height: 470px;
}
@media (max-width: 1024px) {
  .project .slider__img {
    max-width: 200px;
    max-height: 370px;
  }
}
.project .slider__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  color: #000000;
}
@media (max-width: 1024px) {
  .project .slider__title {
    max-width: 170px;
    font-size: 19px;
    line-height: 25px;
  }
}
.project .slider__subtitle {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
@media (max-width: 1024px) {
  .project .slider__subtitle {
    font-size: 12px;
    line-height: 25px;
  }
}

/*# sourceMappingURL=project.css.map */
