@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hero {
  animation: backgroundBlockAnima 0.6s linear 0.1s forwards;
  background-color: #6a5956;
}
@media (max-width: 1024px) {
  .hero {
    padding-top: 25px;
  }
}
.hero__container {
  display: flex;
  gap: 100px;
}
@keyframes backgroundBlockAnima {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.hero__col {
  display: flex;
  padding: 50px 0;
  gap: 80px;
}
.hero__col-left {
  font-family: "Bai";
  font-weight: 700;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .hero__col-left {
    padding-top: 0;
  }
}
.hero__col-right {
  position: relative;
}
@media (max-width: 1024px) {
  .hero__col {
    flex-direction: column-reverse;
    gap: 24px;
  }
}
.hero__title {
  font-size: 56px;
  line-height: 64px;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 45px;
    line-height: 55px;
  }
}
.hero__subtitle {
  font-size: 24px;
  line-height: 32px;
}
.hero__img {
  max-width: 372px;
  max-height: 400px;
  border-radius: 50%;
}
@media (max-width: 860px) {
  .hero__img {
    width: 300px;
    height: 400px;
  }
}
.hero__img_1 {
  width: 410px;
  height: 520px;
  position: relative;
  top: -7%;
  left: 2%;
  z-index: 1;
}
@media (max-width: 860px) {
  .hero__img_1 {
    width: 320px;
    height: 420px;
  }
}

.contact {
  display: grid;
  margin: 0 0 16px 16px;
  padding-top: 33%;
  gap: 30px;
}
@media (max-width: 1024px) {
  .contact {
    padding-top: 0;
  }
}
.contact__tel, .contact__email, .contact__git-hub, .contact__telegram {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
.contact__tel {
  position: relative;
}
.contact__tel::before {
  content: "";
  background-image: url("../../img/hero/telephone.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 8px;
  left: -26px;
}
.contact__telegram {
  position: relative;
}
.contact__telegram::before {
  content: "";
  background-image: url("../../img/hero/telegram.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 7px;
  left: -26px;
}
.contact__email {
  position: relative;
}
.contact__email::before {
  content: "";
  background-image: url("../../img/hero/email.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 8px;
  left: -26px;
}
.contact__git-hub {
  position: relative;
}
.contact__git-hub::before {
  content: "";
  background-image: url("../../img/hero/github.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 9px;
  left: -26px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.education {
  padding: 100px 0;
}
@media (max-width: 1024px) {
  .education {
    padding: 40px 0;
  }
}
.education__title {
  max-width: 270px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
}
.education__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  border: 1px solid #E94D35;
}
.education__subtitle {
  max-width: 750px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #000000;
}
.education__subtitle::before {
  content: "•";
  padding-right: 16px;
}
.education__box {
  display: flex;
  padding: 0;
  gap: 60px;
}
@media (max-width: 1024px) {
  .education__box {
    display: none;
  }
}
.education__item {
  max-width: 700px;
  filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
}
.education__text, .education__denotation {
  font-family: "Inter";
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
}
.education__denotation {
  color: #524747;
}
.education__name {
  position: relative;
  top: -84%;
  left: -52%;
  transform: rotate(270deg);
}
@media (max-width: 1024px) {
  .education__name {
    position: relative;
    top: 0;
    left: 0;
  }
}
.education__img {
  padding-left: 16px;
}
.education .mobile-box {
  display: none;
}
@media (max-width: 1024px) {
  .education .mobile-box {
    display: inline;
  }
  .education .mobile-box__item {
    filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
  }
  .education .mobile-box__denotation {
    max-width: 140px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
  }
  .education .mobile-box__denotation_other {
    max-width: 161px;
  }
  .education .mobile-box__denotation::after {
    content: "";
    display: block;
    border: 1px solid #000000;
  }
  .education .mobile-box__img {
    padding-bottom: 45px;
  }
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.experience {
  background-color: rgb(245, 239, 239);
}
.experience__title {
  max-width: 395px;
  padding-top: 40px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
}
.experience__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  border: 1px solid #E94D35;
}
.experience__subtitle {
  position: relative;
  font-family: "Inter";
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #000000;
}
.experience__subtitle::before {
  content: "•";
  padding-right: 16px;
}
.experience__text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}
.experience__text-bottom {
  padding-bottom: 40px;
}
.experience__denotation {
  font-family: "Inter";
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #000000;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.skills {
  padding: 100px 0;
}
.skills__title {
  max-width: 150px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
}
.skills__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  border: 1px solid #E94D35;
}
.skills__text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #000000;
}
.skills__text::before {
  content: "•";
  padding-right: 16px;
}
.skills__text::before::after {
  content: "";
  display: block;
  margin: 0 auto;
  border: 1px solid #000000;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("embedded-opentype"), url("../fonts/Inter-Regular.svg") format("svg"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter-Medium.svg") format("svg"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.project {
  padding-bottom: 100px;
  background-color: rgb(245, 239, 239);
}
@media (max-width: 1024px) {
  .project {
    padding: 30px 0;
  }
}
.project__title {
  max-width: 325px;
  padding-top: 24px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #000000;
}
.project__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  border: 1px solid #E94D35;
}
.project .slider {
  width: 100%;
  padding: 0;
}
.project .slider__img {
  max-width: 500px;
}
@media (max-width: 1070px) {
  .project .slider__img {
    max-width: 450px;
  }
}
.project .slider__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  color: #000000;
}
.project .slider__subtitle {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
@media (max-width: 1024px) {
  .project .slider {
    display: none;
  }
}
.project .mobile-project {
  display: none;
}
@media (max-width: 1024px) {
  .project .mobile-project {
    display: grid;
    gap: 40px;
  }
  .project .mobile-project__title {
    font-family: "Inter";
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    color: #000000;
  }
  .project .mobile-project__subtitle {
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
  }
}

/*# sourceMappingURL=home.css.map */
